body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #0069c0;
}
a:active,
a:hover {
  color: hsl(207, 90%, 45%);
}
#calculator {
  padding: 20px 20px 0 20px;
  background: #aaa;
  display: inline-block;
  border-radius: 2%;
}
#display {
  box-sizing: border-box;
  background: #eee;
  font-size: 4rem;
  text-align: right;
  max-width: 335px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 2%;
}
#keypad {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-gap: 5px;
}
#keypad button {
  padding: 20px 0;
  font-size: 1.5rem;
}
.is-depressed {
  background: #bbb;
}
#footer {
  text-align: center;
}
